.fade-enter-active, .fade-leave-active{
    transition: all 0.3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    opacity: 0;
  }

  .fade-enter, .fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }

  .fade-enter, .fade-leave-to {
      opacity: 0;
  }

  body {
    margin: 0
  }


.ad-detect-window {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.button-ad-footer {
    display: block !important;
    background-color: var(--grey-text);
    padding: 15px;
    color: white
}

.button-keep-footer {
    float: right
}

.button-disable-footer {
    background-color: var(--red);
    float: left
}

.loading-logo {
    width: 100%;
    margin-bottom: 20px;
}

#logo {
    text-align: center;
    display: block;
    padding: 32px 16px 24px 16px;
    font-size: 3em;
}

.style-3 #logo {
    z-index: 2;
    position: relative;
    fill: white;
    padding: 64px 16px
}

#logo-mobile {
    text-align: center;
    display: block;
    padding: 0;
    font-size: 3em;
    padding: 1%;
}

.nav-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 1rem;
    left: 6%;
    position: fixed;
    top: 1.5rem;
    width: 1rem;
    z-index: 2;
}

.nav-toggle:hover {
    opacity: 0.8;
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: black;
    content: '';
    height: 0.1rem;
    width: 100%;
}

.nav-toggle .nav-toggle-bar {
    margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
    margin-top: 0.2rem;
}

.nav-toggle .nav-toggle-bar::before {
    margin-top: -0.2rem;
}

.nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
    background: black;
    margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav {
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    background: white;
    color: black;
    cursor: pointer;
    font-size: 2rem;
    line-height: 2;
    height: 100vh;
    left: -20rem;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    width: 20rem;
    z-index: 1;
}

.nav.expanded {
    left: 0;
}

.nav ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
}


/* themeswitcher-mobile */

.themeswitcher-mobile {
    -webkit-transition: right 0.5s ease;
    -moz-transition: right 0.5s ease;
    -ms-transition: right 0.5s ease;
    -o-transition: right 0.5s ease;
    transition: right 0.5s ease;
    background: white;
    color: black;
    cursor: pointer;
    font-size: 2rem;
    line-height: 2;
    height: 100vh;
    right: -20rem;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    width: 20rem;
    z-index: 1;
}

.themeswitcher-mobile.expanded {
    right: 0;
}

.themeswitcher-mobile-wrapper {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.themeswitcher-mobile ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
}

.themeswitcher-mobile {
    -webkit-transition: right 0.5s ease;
    -moz-transition: right 0.5s ease;
    -ms-transition: right 0.5s ease;
    -o-transition: right 0.5s ease;
    transition: right 0.5s ease;
    background: white;
    color: black;
    cursor: pointer;
    font-size: 2rem;
    line-height: 2;
    height: 100vh;
    right: -20rem;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    width: 20rem;
    z-index: 1;
}

.themeswitcher-mobile.expanded {
    right: 0;
}

.theme-toggle-wrapper {
    position: absolute;
    right: 0;
    top: 1.4em;
    z-index: 2;
}

.theme-switcher-logo-mobile {
    width: 80% !important;
    padding: 10px !important;
    margin: auto !important;
    display: block !important;
    padding: 20px !important
}

.position-relative {
    position: relative;
}

.themeswitcher-transition-enter-active,
.themeswitcher-transition-leave-active {
    transition-property: opacity;
    transition-duration: .10s;
}

.themeswitcher-transition-enter-active {
    transition-delay: .10s;
}

.themeswitcher-transition-enter,
.themeswitcher-transition-leave-active {
    opacity: 0;
}

.top-illustration-wrapper {
    position: absolute;
    width: inherit;
    height: inherit;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.top-illustration {
    position: absolute;
}

.twitter-circle {
    fill: #00ACED
}

.style-1 .page-views {
    font-size: 0.7em;
    font-weight: 600;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    color: white;
    background: black;
    padding: 8px 5px;
}

.style-1 .article-heading-filler .page-views {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Helvetica', sans-serif;
    padding-left: 1.5%;
    width: 100%;
    color: black;
    text-align: center;
    background: none
}

.style-2 .page-views {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Fira Sans', sans-serif;
    padding-left: 1.5%;
    width: auto;
    background-color: var(--red);
    padding: 5px 8px;
    color: white;
}

.style-3 .page-views {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Fira Sans', sans-serif;
    width: auto;
    background-color: none;
    color: var(--green);
}

.style-2 .twitter-icon-container-article {
    height: 100%;
    padding-top: 0;
    margin-top: -10px;
    white-space: nowrap;
}

.page-views-container {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    padding-top: 20px;
    grid-row: 1;
}

.style-3 .page-views-container {
    padding: 25px 0
}

.bg-1 {
    fill: red
}

.fg-1 {
    fill: white
}

#ticker {
    position: relative;
    display: block;
    padding-bottom: 10px;
    height: 60px;
}

.marquee {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    background-color: #261F1F;
    height: 60px;
    line-height: 65px;
}

.marquee .marquee-text {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 60s linear infinite;
    font-size: 25px;
    font-weight: 400 !important;
}

.marquee a {
    color: white !important;
}

.marquee .marquee-text:hover {
    animation-play-state: paused;
}

.marquee .marquee-text a :hover  {
    text-decoration: underline;
}

.marquee-text .marqueeitem :after {
    content: "  \2215  ";
    padding: 0 10px;
    color: red;
    font-weight: 800;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}